{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block intro %}
    <div class="intro">

      <div class="row">
        <div class="col-12 col-md-6">
        </div>
        <div class="col-12 col-md-6">
          <p class="intro-msg kalam-font">Contact me.</p>
          <input class="contact-email jost-font" type="email" name="" placeholder="Your Email">
          <textarea class="contact-message jost-font" name="name" rows="8" cols="50" placeholder="Your Message"></textarea>
          <br><button class="btn  btn-outline-light" type="button" name="submit">Submit</button>
        </div>
      </div>
    </div>

{% endblock %}
